@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    margin: 0;
    text-decoration: 0;
}
html {
    scroll-behavior: smooth;
}

.hero-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url('./images/nubelson-fernandes-iE71-TMrrkE-unsplash\ \(1\).jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 1vh;
}

h1 {
    font-family: 'Oswald', sans-serif;
    color: #fff;
    font-size: 6.18vh;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 72.16vh;
}

li {
    font-family: 'Oswald', sans-serif;
    font-size: 2.16vh;
    color: #fff;
    cursor: pointer;
}

li:hover {
    color: rgb(66, 62, 255);
}

.arrows {
    width: 6.18vh;
    height: 17.73vh;
    bottom: 2.06vh;
}

.arrows path {
    stroke: #fff;
    fill: transparent;
    stroke-width: 0.1vh;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite;
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
    animation-delay:  -1s;
    -webkit-animation-delay:  -1s;
}

.arrows path.a2 {
    animation-delay:  -0.5s;
    -webkit-animation-delay:  -0.5s;
}

.arrows path.a3 {
    animation-delay:  0s;
    -webkit-animation-delay:  0s;
}

.content-container {
    height: 100vh;
    background-image: url("./images/img_teclado_auto_x2.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.profile {
    width: 51.55vh;
    height: 75%;
    background-color: rgba(66, 62, 255, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 3.09vh;
}

.about-me {
    width: 51.55vh;
    height: 75%;
    background-color: rgba(66, 62, 255, 0.5);
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    font-family: 'Oswald', sans-serif;
    border-radius: 3.09vh;
}

.text {
    margin-left: 1.55vh;
    margin-right: 1.55vh;
    font-size: 3.61vh;
    -webkit-text-stroke-width: 0.12vh;
    -webkit-text-stroke-color: black;
}

.picture {
    width: 25.77vh;
    height: 25.77vh;
    background-image: url("./images/perfil.jpeg");
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: left 50% top 30%;
    border-radius: 50%;
    border: 0.5vh;
    border-style: solid;
    border-color: white;
}

.myinfos {
    width: 41.24vh;
    height: fit-content;
    text-align: center;
    color: white;
    -webkit-text-stroke-width: 0.1vh;
    -webkit-text-stroke-color: black;
    font-size: 3.3vh;
    font-family: 'Oswald', sans-serif;
}

.tecnologies {
    width: 41.24vh;
    height: 15.46vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.js {
    width: 10.31vh;
    height: 10.31vh;
    background-image: url("./images/js.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10%;
}

.react {
    width: 10.31vh;
    height: 10.31vh;
    background-image: url("./images/react.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10%;
}

.node {
    width: 10.31vh;
    height: 10.31vh;
    background-image: url("./images/nodejs.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10%;
}

.projects-container {
    height: 100vh;
    background-image: url("./images/backgroud_projects_auto_x2.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.project1 {
    width: 77%;
    height: 22%;
    background-color: rgba(66, 62, 255, 0.25);
    border-radius: 3.09vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.5s;
}

.project2 {
    width: 77%;
    height: 22%;
    background-color: rgba(66, 62, 255, 0.25);
    border-radius: 3.09vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.5s;
}

.project3 {
    width: 77%;
    height: 22%;
    background-color: rgba(66, 62, 255, 0.25);
    border-radius: 3.09vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.5s;
}

.other-projects {
    width: 15%;
    height: 7.73vh;
    color: white;
    background-color: rgba(66, 62, 255, 0.25);
    font-family: 'Oswald', sans-serif;
    font-size: 3.09vh;
    border-radius: 1.54vh;
    border-width: 0vh;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project1:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.project2:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.project3:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.other-projects:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.img-project1 {
    width: 28.04vh;
    height: 15.77vh;
    background-image: url("./images/batman.PNG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 1.55vh;
}

.description-project1 {
    width: 67.01vh;
    height: 15.77vh;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 3.09vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-text-stroke-width: 0.09vh;
    -webkit-text-stroke-color: black;
}

.img-project2 {
    width: 28.04vh;
    height: 15.77vh;
    background-color: white;
    border-radius: 1.55vh;
}

.description-project2 {
    width: 67.01vh;
    height: 15.77vh;
    background-color: red;
}

.img-project3 {
    width: 28.04vh;
    height: 15.77vh;
    background-color: white;
    border-radius: 1.55vh;
}

.description-project3 {
    width: 67.01vh;
    height: 15.77vh;
    background-color: red;
}

footer {
    height: 15.46vh;
    background-color: rgb(16, 16, 24);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15.46vh;
    font-family: 'Oswald', sans-serif;
    font-size: 2.06vh;
    color: white;
}

.wpp-container {
    width: 12%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1vh;
}

.linkedin-container {
    width: 12%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1vh;
}

.email-container {
    width: 12%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1vh;
}

.wpp {
    width: 8.25vh;
    height: 8.25vh;
    border-radius: 1vh;
    background-image: url("./images/wpp.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.5s;
}

.linkedin {
    width: 8.25vh;
    height: 8.25vh;
    border-radius: 1vh;
    background-image: url("./images/linkedin.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.5s;
}

.email {
    width: 8.25vh;
    height: 8.25vh;
    border-radius: 1vh;
    background-image: url("./images/email.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.5s;
}

.wpp:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.linkedin:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.email:hover {
    cursor: pointer;
    transform: scale(1.1);
}

@media(max-width: 1280px){

    ul{
        width: 100vw;
        justify-content: space-around;
    }

    h1{
        text-align: center;
    }

    .content-container{
        flex-direction: column;
    }

    .profile{
        width: 80%;
        height: 45%;
    }

    .about-me{
        width: 80%;
        height: 45%;
    }

    .text{
        font-size: 2.5vh;
        -webkit-text-stroke-width: 0.07vh;
    }

    .projects-container{
        height: 200vh;
    }

    .project1{
        flex-direction: column;
        height: 30%;
    }

    .description-project1{
        font-size: 2.5vh;
        height: 60%;
        width: 100%;
    }

    .project2{
        flex-direction: column-reverse;
        height: 30%;
    }

    .description-project2{
        font-size: 2.5vh;
        height: 60%;
        width: 100%;
    }

    .project3{
        flex-direction: column;
        height: 30%;
    }

    .description-project3{
        font-size: 2.5vh;
        height: 60%;
        width: 100%;
    }

    .other-projects{
        width: 77%;
    }

    footer{
        flex-direction: column;
        height: 40vh;
        justify-content: space-evenly;
    }

    .wpp-container{
        width: 77%;
    }
    
    .linkedin-container{
        width: 77%;
    }

    .email-container{
        width: 77%;
    }
}